<% provide(:title, 'Recherche') %>
<% provide(:button_text, 'Ajouter') %>
<h1>Résultats
    <span class="glyphicon glyphicon-search"></span>
</h1>

<p>Votre recherche :
    <strong><%= params[:q] %></strong>
</p>

<% if @nb_result === 0 %>
<p>Aucun résultat pour votre recherche
    <strong><%= params[:q] %></strong>
</p>
<% end %>
<!-- Nav tabs -->
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
        <a href="#tab_people" aria-controls="tab_people" role="tab" data-toggle="tab">
          Contacts
          <span class="badge"> <%= @people.count %> </span>
        </a>
    </li>
    <% if @jobs.any? %>
    <li role="presentation">
        <a href="#tab_jobs" aria-controls="tab_jobs" role="tab" data-toggle="tab">
          Emplois
          <span class="badge"> <%= @jobs.count %> </span>
        </a>
    </li>
    <% end %>
    <li role="presentation">
        <a href="#tab_companies" aria-controls="tab_companies" role="tab" data-toggle="tab">
          Sociétés
          <span class="badge"> <%= @companies.count %> </span>
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_missions" aria-controls="tab_missions" role="tab" data-toggle="tab">
          Missions
          <span class="badge"> <%= @missions.count %> </span>
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_comactions" aria-controls="tab_comactions" role="tab" data-toggle="tab">
          Rendez-vous
          <span class="badge"> <%= @comactions.count %> </span>
        </a>
    </li>
</ul>
<div class="tab-content tenPxDown">
    <div role="tabpanel" class="tab-pane active" id="tab_people">
    <% if @people.any? %>
        <%= render @people %>
        <p class="center checkBelow">
            <%= link_to new_person_path do %>
            <button type="submit" class="btn btn-success ">
            <%= fa_icon("plus", text: "Ajouter un contact") %>
            </button>
            <% end %>
        </p>
        <hr>
    <% else %>
        <div class="row">
            <div class="col-xs-3 hidden-xs"></div>
            <div class="col-xs-6">
                <h1 class='center'>Ajouter un contact
                </h1>
                <%= render '/people/form' %>
            </div>
        </div>
        <% end %>
    </div>
    <% if @jobs.any? %>
    <div role="tabpanel" class="tab-pane" id="tab_jobs">
        <%= render @jobs %>
    </div>
    <% end %>
    <div role="tabpanel" class="tab-pane" id="tab_companies">
        <% if @companies.any? %>
        <%= render @companies %>
        <p class="center checkBelow">
            <%= link_to new_company_path do %>
            <button type="submit" class="btn btn-success ">
            <%= fa_icon("plus", text: "Ajouter une société") %>
            </button>
            <% end %>
        </p>
        <hr>
    <% else %>
        <div class="row">
            <div class="col-xs-3 hidden-xs"></div>
            <div class="col-xs-6">
                <h1 class='center'>Ajouter une société
                </h1>
                <%= render '/companies/form' %>
            </div>
        </div>
        <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_missions">
        <% if @missions.any? %>
        <%= render @missions %>
        <p class="center checkBelow">
            <%= link_to new_mission_path do %>
            <button type="submit" class="btn btn-success ">
            <%= fa_icon("plus", text: "Ajouter une mission") %>
            </button>
            <% end %>
        </p>
        <hr>
        <% else %>
        <div class="row">
            <div class="col-xs-3 hidden-xs"></div>
            <div class="col-xs-6">
                <h1 class='center'>Ajouter une mission
                </h1>
                <%= render '/missions/form' %>
            </div>
        </div>
        <% end %>
    </div>
    <div role="tabpanel" class="tab-pane track-border" id="tab_comactions">
        <% if @comactions.any? %>
        <%= render @comactions %>
        <p class="center checkBelow">
            <%= link_to new_comaction_path do %>
            <button type="submit" class="btn btn-success ">
            <%= fa_icon("plus", text: "Ajouter un rendez-vous") %>
            </button>
            <% end %>
        </p>
        <hr>
        <% else %>
        <div class="row">
            <div class="col-xs-3 hidden-xs"></div>
            <div class="col-xs-6">
                <h1 class='center'>Ajouter un rendez-vous
                </h1>
                <%= render '/comactions/form' %>
            </div>
        </div>
        <% end %>
    </div>
</div>
