<h1>Résultats de recherche</h1>

<H2>Contacts <span class="badge"> <%= @people.count %> </span> </H2>
<%= render @people %>
<H2>Jobs <span class="badge"> <%= @jobs.count %> </span> </H2>
<%= render @jobs %>
<H2>Entreprises <span class="badge"> <%= @companies.count %> </span> </H2>
<%= render @companies %>
