<% provide(:title, t("search_title")) %>
<% provide(:button_see_text, t("person.add_and_see_button")) %>
<% provide(:button_text, t("add_button")) %>
<h1>Résultats
    <span class="glyphicon glyphicon-search"></span>
</h1>

<p>
  <%= t("search.your_search") %> :
  <strong><%= params[:quest] %></strong>
</p>

<% if @nb_result === 0 %>
<p> <%= t("search.no_result") %>
    <strong><%= params[:quest] %></strong>
</p>
<% end %>
<!-- Nav tabs -->
<ul class="nav nav-pills" role="tablist">
    <li role="presentation" class="active">
        <a href="#tab_people" aria-controls="tab_people" role="tab" data-toggle="tab">
          <%= t("Contacts") %>
          <span class="badge"> <%= @people.count %> </span>
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_companies" aria-controls="tab_companies" role="tab" data-toggle="tab">
          <%= t("Companies") %>
          <span class="badge"> <%= @companies.count %> </span>
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_missions" aria-controls="tab_missions" role="tab" data-toggle="tab">
          <%= t("Missions") %>
          <span class="badge"> <%= @missions.count %> </span>
        </a>
    </li>
    <li role="presentation">
        <a href="#tab_comactions" aria-controls="tab_comactions" role="tab" data-toggle="tab">
          <%= t("jj.rdv") %>
          <span class="badge"> <%= @comactions.count %> </span>
        </a>
    </li>
</ul>
<div class="tab-content tenPxDown">
    <div role="tabpanel" class="tab-pane active" id="tab_people">
    <% if @people.count > 0 %>
      <%= will_paginate @people %>
      <%= render @people  %>
      <%= will_paginate @people %>

        <p class="center checkBelow">
          <%= link_to new_person_path do %>
          <button type="submit" class="btn btn-success ">
            <%= fa_icon("plus", text: "Ajouter un contact") %>
          </button>
          <% end %>
        </p>
    <% else %>
        <div class="row">
            <div class="col-xs-3 hidden-xs"></div>
            <div class="col-xs-6">
                <h1 class='center'>
                  <%= t("person.add") %>
                </h1>
                <%= render '/people/form' %>
            </div>
        </div>
    <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_companies">
      <% if @companies.any? %>
        <%= will_paginate @companies %>
        <%= render @companies %>
        <%= will_paginate @companies %>

      <% end %>
      <p class="center checkBelow">
        <%= link_to new_company_path do %>
        <button type="submit" class="btn btn-success ">
          <%= fa_icon("plus", text: t("company.add")) %>
        </button>
        <% end %>
      </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_missions">
        <% if @missions.any? %>
          <%= will_paginate @missions %>
          <%= render @missions %>
          <%= will_paginate @missions %>
        <% end %>
        <p class="center checkBelow">
          <%= link_to new_mission_path do %>
          <button type="submit" class="btn btn-success ">
            <%= fa_icon("plus", text: t("mission.create")) %>
          </button>
          <% end %>
        </p>
    </div>
    <div role="tabpanel" class="tab-pane" id="tab_comactions">
        <% if @comactions.any? %>
          <%= will_paginate @comactions %>
          <%= render @comactions %>
          <%= will_paginate @comactions %>

        <% end %>
        <p class="center checkBelow">
          <%= link_to new_comaction_path do %>
          <button type="submit" class="btn btn-success ">
            <%= fa_icon("plus", text: t("comaction.add_label")) %>
          </button>
          <% end %>
        </p>
    </div>
</div>
