<div class='row spaceDown'>
  <div class="col-xs-12">
    <div class="btn-toolbar" role='toolbar' aria-label="...">
      <%= search_form_for @q, html: {class: "form-inline center"} do |f| %>
      <div class="row">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="panel-title "><%= t("filters") %></h3>
          </div>
          <div class="panel-body">

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><%= t("status") %></span>
              <%= button_filters(yield(:calender_view),@filter) %>
            </div>

            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1"><%= t("missions") %></span>
              <%= f.select :mission_id_eq , options_for_select(@missions.each { |t| t},@mission_selected), {},  {class: "form-control input-sm "} %>
            </div>

            <div class="btn-group btn-group-sm" role='group' aria-label="...">
              <%= link_to  comactions_path(:filter => 'unscheduled', :v => 'table_view'), class: "btn btn-default " do %>
              <%= fa_icon('list', text: t("comaction.filters.no_date")) %>
              <% end %>
              <%= link_to  comactions_path(:filter => 'future'), class: "btn btn-default" do %>
              <%= t 'comaction.filters.now_and_after' %>
              <% end %>
              <%= link_to  comactions_path, class: "btn btn-default" do %>
              <%= fa_icon("undo", text: t("reinit")) %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
