<% provide(:title, t("comaction.calendar") ) %>
<% provide(:calender_view, '1') %>
<!-- <div class= 'row spaceDown'> -->
<%= render 'new_modal' %>
<h1 class='center'>
  <%= t("comaction.title_list") %>
</h1>

<!-- extra div for emulating position:fixed of the menu -->
<div class="row">
  <div class="col-xs-12">
    <%= render 'block_filters' %>
      <%= month_calendar events: @comactions do |date, comactions| %>
        <!-- link_to new_comaction_path({:date => date}), method: 'get', class: 'cal_date' do  -->
        <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#myModal" data-whenever= '<%= date %>'>
          <%= date.strftime("%d")%>
          <%= t date.strftime("%b") %>
         <!-- end  -->
         </button>
        <% comactions.each do |comaction| %>
        <div class="<%= background_style(comaction) %>"
          data-toggle="popover"
          data-placement="top"
          data-container="body"
          data-trigger="hover"
          data-html="true"
          title="<%= getComactionTitle(comaction) %>"
          data-content="<%= getComactionDetails(comaction) %>">
          <div class="row">
            <div class="col-xs-3">
              <span class="hour">
                <%= comaction.start_time.strftime("%H:%M") %>
              </span>
            </div>
            <div class="col-xs-9">
              <%= link_to comaction_path(comaction), class: "appointment" do %>
                <%= comaction.person.full_name %>
              <% end %>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <%= comaction.end_time.strftime("%H:%M") %>
            </div>
            <div class="col-xs-9">
              <h6 class="calendar">
                <span class="status-frame ">
                  <%= comaction.status %>
                </span>
              </h6>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
