<!-- <% provide(:title, 'Liste des actions commerciales') %> -->
<h1 class="center">Liste des rendez-vous</h1>
<div class="row spaceDown">
  <%= render 'block_filters' %>
    <div>
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#tab_list" aria-controls="tab_list" role="tab" data-toggle="tab"> <%= fa_icon("list 2x") %>
                </a>
            </li>
            <li role="presentation">
                <a href="#tab_cal" aria-controls="tab_cal" role="tab" data-toggle="tab">
                  <%= fa_icon("calendar-o 2x") %>
                </a>
            </li>
        </ul>
        <div class="tab-content tenPxDown">
            <div role="tabpanel" class="tab-pane active" id="tab_list">
                <%= will_paginate %>

                <%= block_header(@parameters) %>
                <%= render @comactions %>
                <%= will_paginate %>
            </div>
            <div role="tabpanel" class="tab-pane" id="tab_cal">
              <%= month_calendar events: @comactions do |date, comactions| %>
                <small><strong>
                    <%= date.strftime("%d %b") %>
                </strong></small>
                <% comactions.each do |comaction| %>
                  <div><%= comaction.start_time.strftime("%H:%M") %>
                    <%= link_to comaction_path(comaction) do %>
                      <%= comaction.name %>
                    <% end %>
                  </div>
                <% end %>
              <% end %>
            </div>
        </div>
    </div>
