<% provide(:title, @comaction.name) %>

<div class="row">
    <div class="col-xs-9">
        <table class="rdv">
          <tr>
              <td>
                  <h3><%= @comaction.action_type %></h3>
              </td>
          </tr>
            <tr>
                <td>
                    <h1>
                        <%= @comaction.name %>
                    </h1>
                </td>
                <td>
                    <%= link_to edit_comaction_path do %>
                    <%= fa_icon('pencil 2x') %>
                    <% end %>
                </td>
            </tr>

        </table>

    </div>
    <div class="col-xs-3 cartel">
        <div class="row">
            <div class="col-xs-5">Créé il y a</div>
            <div class="col-xs-7"><%= time_ago_in_words @comaction.created_at %></div>
        </div>
        <div class="row">
            <div class="col-xs-5">Mis à jour</div>
            <div class="col-xs-7"><%= time_ago_in_words @comaction.updated_at %></div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-3 frameMe">
        <div class="row ">
            <% unless @comaction.start_time.nil? %>
            <div class="col-xs-3">
                <%= fa_icon('calendar-o 2x') %>
            </div>
            <div class="col-xs-9">
                <%= t (@comaction.start_time.strftime("%a")) %>
                <%= @comaction.start_time.strftime(" %d ") %>
                <%= t (@comaction.start_time.strftime("%b")) %>
                <br>
                <%= @comaction.start_time.strftime("%H:%M à ") %>
                <%= @comaction.end_time.strftime("%H:%M") %>
            </div>
            <hr>
            <% end %>
        </div>
        <div class="row emptyline"></div>
        <div class="row">
            <div class="col-xs-3">
                <%= fa_icon('user-circle 2x') %>
            </div>
            <div class="col-xs-9">
                <strong>
                    <%= link_to person_path(@comaction.person) do %>
                    <%= @comaction.person.full_name %>
                    <br>
                    <% end %>
                    <%= @comaction.status %>
                </strong>
            </div>
        </div>
        <% unless @comaction.person.note.nil? %>
        <hr>
        <div class="row">
            <div class="col-xs-3">
                <%= fa_icon('file-o 2x') %>
            </div>
            <div class="col-xs-9">
                <%= @comaction.person.note %>
            </div>
        </div>
        <% end %>
    </div>

    <div class="col-xs-8 col-xs-offset-1">
        <div class="row ">
            <div class="col-xs-2 midway">
                <%= user_badge @comaction.user %>
            </div>
            <div class="col-xs-10">
                <h3> <%= @comaction.mission.name %></h3>
                    <span class="label label-warning"><%= @comaction.mission.company.company_name %></span>
                    <br>
                    Contact :
                    <%= link_to @comaction.mission.person.full_name, person_path(@comaction.mission.person) %>
                    <br>
                    Date de début souhaitée par l'entreprise :
                    <bold>
                    <%= future_time_in_words @comaction.mission.whished_start_date %> <%= link_to mission_path(@comaction.mission), class: "btn" do %>
                    <%= fa_icon("pencil") %>
                    <% end %>
                    </bold>
            </div>
        </div>
        <div class="row emptyline"></div>
        <div class="row">
            <div class="col-xs-2">
                <%= fa_icon("bookmark-o 2x") %>
            </div>
            <div class="col-xs-10">
                <p class='mission comaction'>
                    <%= @comaction.mission.criteria %>
                </p>
            </div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-11"></div>
  <div class="col-xs-1 pull-right">
    <%= link_to fa_icon("calendar-o 2x", text: ""), comactions_path %>
  </div>
</div>
