<%= simple_form_for(@person) do |f| %>
<div class='row'>
    <div class="col-sm-6">
        <%= f.input :is_client, label: "Client", input_html: {class:" input-sm"}%>
        <%= f.input :title, label: "Civilité", collection: titleList, default:titleList.first, input_html: {class:" input-sm"}%>
        <%= f.input :firstname, label: "Prénom", input_html:{class:" input-sm" } %>
        <%= f.input :lastname, label: "Nom", input_html:{class:" input-sm" } %>
        <%= f.input :email, label: "Email", input_html: {class:" input-sm"}%>
        <%= f.input :cv_docx, as: :file %>
        <% if @person.cv_docx.present?  %>
          <p class="close_comment"> <%= @person.cv_docx_file_name %> </p>
        <% end %>
    </div>
    <div class="col-sm-6 ">
        <%= f.input :is_jj_hired, label: "Embauché grâce à JJ", input_html: {class:" input-sm"}%>
        <%= f.input :phone_number, label: "Numéro de téléphone", input_html:{ maxlength: 20, class:" input-sm" } %>
        <%= f.input :approx_age, label:"Age approximatif ",  input_html:{class:" input-sm" } %>
        <%= f.input :note, label: "Commentaire" %>
    </div>
</div>
<div class='row'>
    <div class="col-sm-8 ">
    </div>
    <div class="col-sm-4 ">
        <%= f.button :submit, yield(:button_text), class: "btn btn-success pull-right" %>
    </div>
</div>
<% end %>
