<%= simple_form_for(@person) do |f| %>
  <div class="row">
    <div class="col-sm-6">
      <%= f.input :title, label: "Civilité", collection: titleList ,default:titleList.first %>
      <%= f.input :firstname, label: "Prénom" %>
      <%= f.input :lastname, label: "Nom" %>
      <%= f.input :email, label: "Email" %>
    </div>
    <div class="col-sm-6">
      <%= f.input :phone_number, label: "Numéro de téléphone" ,input_html: { maxlength: 16 } %>
      <%= f.input :cell_phone_number , label:"Numéro de mobile",input_html: { maxlength: 16 } %>
      <%= f.input :birthdate  , label:"Né le ",as: :date, start_year: Date.today.year - 75,
                                  end_year: Date.today.year - 14,
                                  order: [:day,:month, :year] %>
      <%= f.input :is_jj_hired  , as: :boolean, boolean_style: :nested, label:"Client de JuinJuillet" %>
      <%= f.input :is_jj_hired  , inline_label:"A été placé par JuinJuillet",class:"shiftMeLeft" %>

    </div>
  </div>


  <%= f.button :submit,yield(:button_text),class: "btn btn-primary" %>
<% end %>
