<%= simple_form_for(@person) do |f| %>
<div class="row">
    <div class="col-sm-6">
        <%= f.input :title, label: "Civilité", collection: titleList ,default:titleList.first ,input_html: {class:" input-sm"}%>
        <%= f.input :firstname, label: "Prénom",input_html:{class:" input-sm" } %>
        <%= f.input :lastname, label: "Nom",input_html:{class:" input-sm" } %>
        <%= f.input :email, label: "Email" ,input_html: {class:" input-sm"}%>
        <%= f.input :cv_docx, as: :file %>
    </div>
    <div class="col-sm-6 ">
        <%= f.input :phone_number, label: "Numéro de téléphone" ,input_html:{ maxlength: 16,class:" input-sm" } %>
        <%= f.input :cell_phone_number , label:"Numéro de mobile",input_html:{ maxlength: 16,class:" input-sm" } %>
        <%= f.input :birthdate  , label:"Né le ",as: :date, start_year: Date.today.year - 75, end_year: Date.today.year - 14, order: [:day,:month, :year], input_html:{class:" input-sm" } %>
        <%= f.input :note, label: "Commentaire" %>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 ">
    </div>
    <div class="col-sm-6 ">
        <%= f.button :submit,yield(:button_text),class: "btn btn-primary" %>
    </div>
</div>
<% end %>
