<div class='row'>
  <div class='col-xs-1'></div>
  <div class="col-xs-10 frameMe">
  <% unless current_job_part(@person) =='' %>
    <div class="row">
      <div class="col-xs-12">
        <p class="">
          <small><%= t("person.lastly") %></small>
          <%= current_job_part(@person) %>
          <small><%= t("at") %></small>
          <%= current_company(@person) %>
        </p>
      </div>
    </div>
    <hr>
  <% end %>
    <div class='row'>
      <div class="col-xs-6 ">
        <strong>
          <%= t("person.phone") %>
        </strong>
      </div>
      <div class='col-xs-6'>
        <%= @person.phone_number %>
      </div>
    </div>
    <div class='row'>
      <div class="col-xs-6 ">
        <strong>
          <%= t("person.cv_docx") %>
        </strong>
      </div>
      <div class='col-xs-6'>
        <% if @person.cv_docx.file? %>
        <%= link_to @person.cv_docx.url, class: "btn btn-success btn-xs" do %>
        <%= @person.cv_docx_file_name %>
        <% end %>
        <% elsif !@person.is_client? %>
        <span class="small_alert">
          <%= t("person.no_cv") %>
        </span>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-6'>
        <strong>Email</strong>
      </div>
      <div class='col-xs-6'>
        <%= @person.email %>
      </div>
    </div>
    <div class='row'>
      <div class='col-xs-6'>
        <strong>
          <%= t("person.approx_age") %>
        </strong>
      </div>
      <div class='col-xs-6'>
        <%= @person.approx_age %>
        <%= t("mission.years") %>
      </div>
    </div>
  </div>
</div>
