<% unless @people.nil? %>
<div class="row">
    <div class="col-xs-1 hidden-xs hidden-sm"></div>
    <div class="col-xs-10 ">
        <div class='row'>
            <div class="col-xs-3">
                <%= link_to person do %>
                  <i class="fa fa-user"></i>
                  <%= person.full_name %>
                <% end %>
                <% if person.cv_docx.file? %>
                  <%= link_to person.cv_docx.url, class:'word_cv_badge' do %>
                    <i class="fa fa-file-word-o" aria-hidden="true"></i>
                  <% end %>
                <% elsif !person.is_client? %>
                  <span class="small_alert">CV !</span>
                <% end %>
            </div>

            <div class="col-xs-2">
                <p>
                    <% if logged_in? %>
                      <%= link_to person, method: :delete, data: { confirm: t("confirm") } do %>
                        <span class="glyphicon glyphicon-trash"></span>
                      <% end %>
                      |
                      <%= link_to edit_person_path(person) do %>
                      <span class="glyphicon glyphicon-pencil"></span>
                      <% end %>
                      |
                      <%= link_to new_comaction_path({:person_id => person.id}) do %>
                        <%= fa_icon('calendar-o') %>
                      <% end %>
                    <% end %>
                </p>
            </div>

            <div class="col-xs-5">
                <p>
                    <% if person.jobs.any? %>
                      <% person.jobs.each do |job| %>
                        <span class="btn btn-default btn-xs"> <%= job.job_title  %></span>
                      <% end %>
                    <% end %>
                </p>
            </div>

            <div class="col-xs-2">
                <small>
                    <%= t("added") %>
                    <%= time_ago_in_words(person.updated_at)  %>
                    <%= user_badge(person.user) %>
                </small>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <%= render 'shared/sep' %>
            </div>
        </div>
    </div>

</div>
<% else %>
  <h3>
    <%= t("person.no_one") %>
  </h3>
<% end %>
