<% unless @people.nil? %>
<li>
  <%= person.title %> <%= person.firstname %>
  <%= person.lastname %> né le <%= person.birthdate %>
  enregistré le <%= person.created_at.to_formatted_s(:short)  %> par <%= person.user.name %>

  <p>
    <% if logged_in? %>
    | <%= link_to person, method: :delete, data: { confirm: "C'est sûr,ça ?" } do %>
        <span class="glyphicon glyphicon-trash"> </span>
      <% end %>
    | <%= link_to edit_person_path(person) do %>
        <span class="glyphicon glyphicon-pencil"> </span>
      <% end %>
    | <%= link_to person do %>
        Voir les jobs <span class="glyphicon glyphicon-lock"> </span>
      <% end %>

  <% end %>
</p>
</li>
<% else %>
  <h3>Personne n'est encore inscrit</h3>
<% end %>
