<% unless @people.nil? %>
<div class="row">
  <div class="col-sm-6">
    <%= link_to person do %>
        Voir les emplois <span class="glyphicon glyphicon-lock"> </span>
      <% end %>
    de <%= person.full_name %>
    <small>
      <%= time_ago_in_words(person.birthdate) %>
      enregistré il y a <%= time_ago_in_words(person.created_at)  %>
      par <%= person.user.name %>
    </small>
  </div>
  <div class="col-sm-6">
    <p>
      <% if logged_in? %>
        <%= link_to person, method: :delete, data: { confirm: "C'est sûr,ça ?" } do %>
          <span class="glyphicon glyphicon-trash"> </span>
        <% end %>
      | <%= link_to edit_person_path(person) do %>
          <span class="glyphicon glyphicon-pencil"> </span>
        <% end %>


    <% end %>
    </p>
  </div>
</div>
<% else %>
<h3>Personne n'est encore inscrit</h3>
<% end %>
