<% provide(:title, @person.firstname) %>
<% provide(:button_text, 'Ajouter') %>
<% provide(:action, @action) %>

<div class="row">
    <div class="col-md-6 ">
        <h1>
          <%= link_to @person.full_name, edit_person_path(@person),class:@class_client  %>
        </h1>
        <hr>
        <div class="frameMe">
            <div class="row">
              <div class="col-xs-2   ">
                <%= link_to  edit_person_path(@person),class:@class_client do %>
                    <i class="fa fa-id-card-o fa-2x " aria-hidden="true" ></i>
                <% end%>
              </div>
                <div class="col-xs-5 ">
                    <strong>Fixe</strong>
                </div>
                <div class="col-xs-5">
                    <%= @person.phone_number %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-2">
                    <strong>Mobile</strong>
                </div>
                <div class="col-xs-5">
                    <%= @person.cell_phone_number %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-2">
                    <strong>Email</strong>
                </div>
                <div class="col-xs-5">
                    <%= @person.email %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-2">
                    <strong>Date de naissance</strong>
                </div>
                <div class="col-xs-5">
                    <%= @person.birthdate %>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-5 col-xs-offset-2">
                    <strong>Age</strong>
                </div>
                <div class="col-xs-5">
                    <%=time_ago_in_words(@person.birthdate) %>
                </div>


            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h1>Expériences (sociétés)</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <%= render @jobs || 'shared/empty_list'%>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <h1>Ajouter une expérience</h1>
        <hr>
        <div class="row">
            <div class="col-md-11 col-md-offset-1">
                <%= render 'jobs/job_form'  %>
            </div>
        </div>
    </div>
</div>
