<% provide(:title, @person.lastname) %>
<% provide(:button_text, 'Ajouter') %>
<% provide(:action, @action) %>

<div class='row'>
  <div class='col-xs-6 '>
    <div class="row midway ">
      <div class="col-xs-6">
        <h3>
          <% if @person.is_client? %>
            <i class="fa fa-user client fa-2x" aria-hidden="true"></i>
          <% else %>
            <i class="fa fa-user-o" aria-hidden="true"></i>
          <% end %>
          <% if policy(@person).show? %>
            <%= link_to @person.full_name, edit_person_path(@person), class:@class_client  %>
            <% if @person.is_hh_hired %>
              <i class="fa fa-star" aria-hidden="true"></i>
            <% end %>
          <% else %>
            <% if @person.is_hh_hired %>
              <i class="fa fa-star" aria-hidden="true"></i>
              <%= @person.full_name %>
            <% end %>
          <% end %>
        </h3>

      </div>
      <div class="col-sm-6  align-right">
        <%= link_to new_comaction_path({person_id: @person.id}) , class: "green-and-white-button" do %>
          <%= fa_icon('calendar-o ') %>
          <%=t('comaction.short-rdv') %>
          <span class="red_star">*</span>
        <% end %>

        <%= link_to new_mission_path({person_id: @person.id}) , class: "green-and-white-button" do %>
          <%= fa_icon('bookmark-o ') %>
          <%=t('Mission') %>
          <span class="red_star">*</span>
        <% end %>
      </div>
    </div>

    <%= render 'people/person_card' %>
    <div class='row spaceUp25'>
      <div class="col-xs-12">
        <h4 >
          <%=t('person.add_experience') %>
        </h4>
      </div>
    </div>
    <hr class="sep"/>
    <%= render 'jobs/form'  %>
  </div>
  <div class='col-xs-6 '>
    <div class='row'>
      <div class="col-xs-11 col-xs-offset-1 ">
        <h3>
          <i class="fa fa-building-o" aria-hidden="true"></i>
          <%=t('person.experiences') %>
        </h3>
        <div class='row light_frame spaceUp25'>
          <div class='col-xs-1'>
            <%= fa_icon('file-text-o 2x') %>
          </div>
          <div class="col-xs-11 ">
            <%= @person.note %>
            <br>
            <% if policy(@person).update? %>
              <%= link_to edit_person_path(@person), class:@class_client do %>
                <%= fa_icon('pencil pull-right') %>
              <% end %>
            <% end %>
          </div>
        </div>
        <div class='row'>
          <div class="col-xs-12 emptyline"></div>
        </div>
        <!-- Nav tabs -->
        <ul class="nav nav-pills" role="tablist">
          <li role="presentation">
            <a href="#cv" aria-controls="passed" role="tab" data-toggle="tab">
              <h4 class="person">
                <%= fa_icon("vcard-o", text:t('cv')) %>
              </h4>
            </a>
          </li>
          <% unless @passed_comactions.nil? || @passed_comactions.empty?%>
          <li role="presentation">
            <a href="#passed" aria-controls="passed" role="tab" data-toggle="tab">
              <h4 class="person">
                <%= fa_icon("fast-backward", text:t('person.history_title')) %>
              </h4>
            </a>
          </li>
          <% end %>
          <% unless @future_comactions.nil? || @future_comactions.empty? %>
          <li role="presentation">
            <a href="#future" aria-controls="future" role="tab" data-toggle="tab">
              <h4 class="person">
                <%=t('person.future_tab_title') %>
                <%= fa_icon("play-circle-o" ) %>
              </h4>
            </a>
          </li>
          <% end %>
          <% unless @related_missions.nil? || @related_missions.empty? %>
          <li role="presentation">
            <a href="#missions" aria-controls="missions" role="tab" data-toggle="tab">
              <h4 class="person">
                <%=t('Missions') %>
                <%= fa_icon("bookmark-o" ) %>
              </h4>
            </a>
          </li>
          <% end %>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
          <div class="empty-halfline"></div>
          <% if(@passed_comactions.nil? || @passed_comactions.empty?) && (@future_comactions.nil? || @future_comactions.empty?) %>
            <p>
              <%=t('person.person_activity_void') %>
            </p>
          <% end %>
          <div role="tabpanel" class="tab-pane fade " id="cv">
            <% if @alljobs.nil? || @alljobs.empty? %>
              <%= render 'shared/empty_list' %>
            <% else %>
              <%= render 'jobs/all_jobs' %>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade " id="passed">
            <% if @passed_comactions.nil? || @passed_comactions.empty? %>
              <%=t('empty_list') %>
            <% else %>
              <%= render partial: "comactions/short_comaction", collection: @passed_comactions , as: :comaction%>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="future">
            <% if @future_comactions.nil? || @future_comactions.empty?%>
              <%=t('empty_list') %>
            <% else %>
              <%= render partial: "comactions/short_comaction", collection: @future_comactions, as: :comaction %>
            <% end %>
          </div>
          <div role="tabpanel" class="tab-pane fade" id="missions">
            <% if @future_comactions.nil? || @future_comactions.empty?%>
              <%=t('empty_list') %>
            <% else %>
              <%= render partial: "missions/mission_short", collection: @related_missions, as: :mission %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<hr class="sep"/>
<div class="row">
  <div class="col-xs-12">
    <% if @person.cv_docx.present?  %>
    <%= render 'html_cv' %>
    <% end %>
  </div>
</div>
