<% provide(:title, @person.firstname) %>
<div class="row">
    <div class="col-md-4">
            <h1>
                <%= link_to @person.full_name, edit_person_path(@person),class:@class_client %>
            </h1>
            <hr>+
            <div class="row">
              <div class="col-xs-5"><strong>Fixe</strong></div>
              <div class="col-xs-6"> <%= @person.phone_number %></div>
            </div>
            <div class="row">
              <div class="col-xs-5"><strong>Mobile</strong></div>
              <div class="col-xs-6"> <%= @person.cell_phone_number %></div>
            </div>
            <div class="row">
              <div class="col-xs-5"><strong>Email</strong></div>
              <div class="col-xs-6"> <%= @person.email %></div>
            </div>
            <div class="row">
              <div class="col-xs-5"><strong>Date de naissance</strong></div>
              <div class="col-xs-6"> <%= @person.birthdate %></div>
            </div>
            <div class="row">
              <div class="col-xs-5"><strong>Age</strong></div>
              <div class="col-xs-6"> <%=time_ago_in_words(@person.birthdate) %></div>
            </div>
    </div>
    <div class="col-md-8">
      <h1>Actuellement</h1>
      <hr>
      <div class="row">
        <div class="col-md-6">
          <p>A travaille chez (fake)</p>
          <%= render(partial: "comp_name", collection: @comp_names) || "Créez la première société !" %>
        </div>
        <div class="col-md-6">
          <button class="btn-succcess">Ajouter une expérience</button>
        </div>
      </div>
    </div>
</div>
