<h1>Nouveau rendez-vous</h1>
<p>Le rendez-vous est en pièce jointe</p>

<ul>
  <li>
    <%= t("for") %> : <%= @comaction.person.full_name %>
  </li>
  <li>
    <%= t("comaction.mission") %> : <%= @comaction.mission.name %>
  </li>
  <li>
    <%= t("comaction.start.date_and_hour") %> : <%= @comaction.start_time.strftime("%d %B à %H:%M")%> - Durée :   <%= distance_of_time_in_words(@comaction.start_time , @comaction.end_time) %>
  </li>
  <li>
    <%= t("comaction.short-rdv") %>: <%= @comaction.name %>
  </li>
  </ul>
  <p></p>
  <p><%= t("brand") %></p>
