<%= simple_form_for(@job) do |f| %>
<div class="row">
    <div class="col-sm-6">
        <%= f.input :job_title, label: "Poste occupé",input_html: {class:" input-sm"}%>
        <%= f.input :salary, label: "Salair",input_html:{class:" input-sm" } %>
        <%= f.input :start_date, label: "Date de pise de fonction",as: :date, start_year: Date.today.year - 40, end_year: Date.today.year04, order: [:day,:month, :year], input_html:{class:" input-sm" } %>
        <%= f.input :end_date, label: "Date de fin de contrat" ,as: :date, start_year: Date.today.year - 40, end_year: Date.today.year04, order: [:day,:month, :year], input_html:{class:" input-sm" } %>
    </div>
    <div class="col-sm-6 ">
        <%= f.input :phone_number, label: "Société" ,input_html:{ maxlength: 16,class:" input-sm" } %>
        <%= f.input :jj_job , label:"Job fourni par JuinJuillet",input_html:{ maxlength: 16,class:" input-sm" } %>
        <%= f.input :birthdate  , label:"Né le ",as: :date, start_year: Date.today.year - 75, end_year: Date.today.year - 14, order: [:day,:month, :year], input_html:{class:" input-sm" } %>
        <%= f.input :is_jj_hired,  inline_label:"Placé par JuinJuillet",  input_html: {class:" shiftMeLeft input-sm"} %>
        <%= f.input :is_client,  inline_label:"Client de JuinJuillet",  input_html: {class:" shiftMeLeft input-sm"} %>
        <%= f.input :note, label: "Commentaire" %>
    </div>
</div>
<div class="row">
    <div class="col-sm-6 ">
    </div>
    <div class="col-sm-6 ">
        <%= f.button :submit,yield(:button_text),class: "btn btn-primary btnSubmitCtr" %>
    </div>
</div>
<% end %>
