<li>
  <%= person.title %> <%= person.firstname %>
  <%= link_to person.lastname, person %> né le <%= person.birthdate %>
  enregistré le <%= person.created_at.to_formatted_s(:short)  %> par <%=person.user.name%>

  <% if logged_in? %>
    | <%= link_to "delete", person, method: :delete, data: { confirm: "C'est sûr ?" } %>
    | <%= link_to "Editer ce contact", edit_person_path(person) %>
  <% end %>
</li>
