<div class="row">
  <div class="col-xs-2 hidden-xs"></div>
  <div class="col-xs-8">
    <div class="row array_header">
      <div class="col-xs-4">
        <%= sort_link(@q, :company_name, default_sorting: :asc) do %>
          <strong>
            <%= t("Company") %>
          </strong>
        <% end %>
      </div>
      <div class="col-xs-4">
        <strong>
          <%= t("Action") %>
        </strong>
      </div>
      <div class="col-xs-4">
        <%= sort_link(@q, :updated_at, default_order: :desc) do %>
          <strong>
            <%= t("updated") %>
          </strong>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-xs-2 hidden-xs"></div>
</div>
