<% provide(:title, @company.company_name) %>
<h3>
  <%= @company.company_name%>
</h3>
<ul>
  <%= @jobs.each do |j|  %>
  <li> <%= j.person.full_name %>
    <ul>
      <li>
        <%= j.job_title %> du <%= j.start_date %> au <%= j.end_date %>
      </li>
    </ul>
  </li>
  <% end %>
</ul>
