<% provide(:title, @company.company_name) %>

<div class="row">
    <div class="col-xs-12">
        <h3> <i class="fa fa-building-o" aria-hidden="true"></i>
            <%= @company.company_name%>
            <small>
                - <span class="badge"><%= @nb_people%></span> personnes y ont travaillé</small>
        </h3>
    </div>
</div>
<% @people_jobs.each do |key,val|  %>
<div class="row">
    <div class="col-xs-3">
        <%=  link_to person_path(key) do %>
        <%= val['person']['title']%>
        <%= val['person']['firstname']%>
        <%= val['person']['lastname']%>
        <% end %>
    </div>
    <div class="col-xs-5">
        <% val['jobs'].each do |j| %>
        <div class="row">
            <div class="col-xs-5">
              <% if j['end_date'].nil? %>
                <strong><%= j['job_title'] %></strong>
              <% else %>
                <span class="fadingColor"><%= j['job_title'] %></span>
              <% end %>
            </div>
            <div class="col-xs-7">Du
                <%= j['start_date'] %>
                <%=  j['end_date'].nil? ? "à aujourd'hui" : "au #{j['end_date']}"%>
            </div>
        </div>
        <% end %>
    </div>
</div>
<% end %>
