<% provide(:title, 'Liste des sociétés') %>
<h1 class="center">Liste des sociétés</h1>

<%= will_paginate %>
<div class="row array_header">
    <div class="col-xs-3">
<strong>Nom de société</strong>
<% if params[:sort] && params[:sort].first != "-" %>
  <%= link_to companies_path(:sort => "-company_name"), class: "btn" do %>
    <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
  <% end %>
<% else %>
  <%= link_to companies_path(:sort => "company_name"), class: "btn" do %>
    <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
  <% end %>
<% end %>
    </div>
    <div class="col-xs-2">

    </div>
    <div class="col-xs-3">
      <strong>Date d'enregistrement</strong>
      <% if params[:sort] && params[:sort].first != "-" %>
        <%= link_to companies_path(:sort => "-created_at"), class: "btn" do %>
          <i class="fa fa-sort-amount-asc" aria-hidden="true"></i>
        <% end %>
      <% else %>
        <%= link_to companies_path(:sort => "created_at"), class: "btn" do %>
          <i class="fa fa-sort-amount-desc" aria-hidden="true"></i>
        <% end %>
      <% end %>
    </div>
    <div class="col-xs-3"></div>
</div>
  <%= render @companies %>
<%= will_paginate %>
