<% @people_jobs.each do |key, val|  %>
<div class='row'>
    <div class='col-xs-3'>
        <%= link_to person_path(key) do %>
        <%= val['person']['title']%>
        <%= val['person']['firstname']%>
        <%= val['person']['lastname']%>
        <% end %>
    </div>
    <div class='col-xs-6'>
        <% val['jobs'].each do |j| %>
        <div class='row'>
            <div class='col-xs-6'>
              <% if j['no_end'] %>
                <strong><%= j['job_title'] %></strong>
              <% else %>
                <span class="fadingColor"><%= j['job_title'] %></span>
              <% end %>
            </div>
            <div class='col-xs-6'>De
                <%= j['start_date'].strftime("%b %Y")   %>
                <%= j['no_end'] ? "à aujourd'hui" : "à #{j['end_date'].strftime("%b %Y")}"%>
            </div>
        </div>
        <% end %>
    </div>
</div>
<% end %>
