<div class="row spaceDown">
  <div class="col-xs-12">
    <%= search_form_for @q, html: {class: "form-inline"} do |f| %>
    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="basic-addon1">
        <%=t('filter') %>
      </span>
      <%= button_filters_with_ransack (symclass: :mission,
                                  enum: "status",
                                  selec: @status_selected,
                                  css: 'form-control input-sm filter',
                                  id: 'q_status_eq',
                                  name: 'q[status_eq]') %>
    </div>
    <% end %>
    <%= link_to missions_path, class: "btn btn-success" do %>
      <%= fa_icon("undo", text:t('reinit') ) %>
    <% end %>
  </div>
</div>
