<div class="row spaceDown">
  <div class="col-xs-12">
    <%= search_form_for @q, html: {class: "form-inline"} do |f| %>
    <div class="input-group input-group-sm">
      <span class="input-group-addon" id="basic-addon1">
        <%= t("filter") %>
      </span>
      <%= button_filters_with_ransack(:mission,
                                  "status",
                                  @status_selected,
                                  'form-control input-sm filter',
                                  'q_status_eq',
                                  'q[status_eq]') %>
    </div>
    <% end %>
    <%= link_to missions_path, class: "btn btn-success" do %>
      <%= fa_icon("undo", text: t("reinit") ) %>
    <% end %>
  </div>
</div>
