<div class="row">
    <div class='col-xs-1'>
        <small>
            <strong><%= future_time_in_words mission.whished_start_date %></strong>
        </small>
    </div>
    <div class='col-xs-2 '>
        <%= link_to mission.name, mission_path(mission) %>
        |
        <%= link_to  edit_mission_path(mission)  do %>
          <span class="glyphicon glyphicon-pencil"></span>
        <% end %>
        <% if logged_in? && current_user.admin? %>
          |
          <%= link_to  mission_path(mission), method: :delete, data: { confirm: t("confirm") } do %>
            <span class="glyphicon glyphicon-trash"></span>
          <% end %>
        <% end %>
        <br>
        <small>
            <%= t("mission.market") %> :
            <%= number_to_currency mission.reward %>
            <br>
            <%= t("paid") %> : :
            <%= number_to_currency mission.paid_amount %>
        </small>
    </div>
    <div class='col-xs-2'>
        <%= mission.status %>
    </div>
    <div class='col-xs-2'>
        <%= link_to list_people_company_path(mission.company_id), class: "" do %>
        <span class="label label-warning">
            <%= mission.company.company_name %>
        </span>
        <% end %>
        <br>
        <small>
            <%= link_to person_path mission.person_id, class: "btn btn-success" do%>
            <%= fa_icon("user", text: mission.person.full_name) %>
            <% end %>
        </small>
    </div>
    <div class='col-xs-4'>
        <small>
            <p><%= mission.criteria %></p>
        </small>
    </div>
    <div class='col-xs-1'>
        <small><%= time_ago_in_words mission.updated_at %></small>
    </div>

</div>
<%= render 'shared/sep' %>
