<% provide(:title, 'Liste des contrats') %>
<h1 class="center">Liste des missions</h1>

<%= will_paginate %>

<%= render 'filter' %>
<%= render 'header_table' %>
<%= render @missions %>
<%= will_paginate %>
