<% provide(:title, @mission.name) %>
<% provide(:update_date, @mission.updated_at) %>
<% provide(:creation_date, @mission.created_at) %>
<div class='row'>
  <div class="col-sm-1">
    <div class='row'>
      <div class="col-sm-12 mission nav-ico">
        <%= link_to edit_mission_path do %>
        <button class="btn btn-success">
          <%= fa_icon('pencil 2x') %>
        </button>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-12 mission nav-ico">
        <%= link_to missions_path do %>
        <button class="btn btn-success">
          <%= fa_icon('list 2x') %>
        </button>
        <% end %>
      </div>
    </div>
    <div class='row'>
      <div class="col-sm-12  mission nav-ico">
        <%= link_to  @mission, method: :delete, data: { confirm: t("confirm") } do %>
        <button class="btn btn-success danger">
          <%= fa_icon('trash 2x') %>
        </button>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-sm-11  ">
    <div class='row'>
      <div class='col-sm-8'>
        <h1>
          <%= @mission.name %>
        </h1>
        <h3>
          <%= special_label @mission %></h3>
      </div>
      <div class='col-sm-4'>
      </div>
    </div>
  <div class='row emptyline'></div>
    <div class='row  '>
      <div class='col-sm-2 hidden-xs'> </div>
      <div class='col-sm-4'>
        <div class='row rightFrame '>
          <div class='col-sm-5 '>
            <i class="fa fa-building-o fa-2x" aria-hidden="true"></i>
            <br>
            <br>
            <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
          </div>
          <div class='col-sm-7'>
            <p>
              <strong><%= @mission.company.company_name %></strong>
            </p>
            <br>
            <p>
              <strong><%= @mission.person.full_name %></strong>
            </p>
          </div>
        </div>
        <div class='row emptyline rightFrame'></div>
        <div class='row rightFrame'>
          <div class="col-sm-12"><hr class="sep"></div>
        </div>
        <div class='row rightFrame'>
          <div class='col-sm-5'><small>
          <%=  t("mission.minimum_salary") %>
          </small></div>
          <div class='col-sm-7'>
            <strong><%= number_to_currency @mission.min_salary %></strong>
          </div>
        </div>
        <div class='row rightFrame'>
          <div class='col-sm-5'><small>
            <%= t("mission.maximum_salary")  %>
          </small></div>
          <div class='col-sm-7'>
            <strong><%= number_to_currency @mission.max_salary %></strong>
          </div>
        </div>
        <div class='row rightFrame'>
          <div class="col-sm-12"><hr class="sep"></div>
        </div>
        <div class='row emptyline rightFrame'></div>
        <div class='row rightFrame'>
          <div class='col-sm-5'>
            <%= t("mission.Age frame") %>
          </div>
          <div class='col-sm-7'>
            <%= t("mission.Between") %>
            <%= @mission.min_age %>
            <%= t("and") %>
            <%= @mission.max_age %>
            <%= t("mission.years") %>
          </div>
        </div>
      </div>
      <div class="leftFrame">

        <div class="col-sm-6  ">
          <div class='row'>
            <div class='col-sm-5'>
              <%= t("mission.remuneration") %>
            </div>
            <div class='col-sm-7'>
              <strong ><%= number_to_currency @mission.reward %></strong>
            </div>
          </div>
          <!-- <div class= 'row emptyline'></div> -->
          <div class='row'>
            <div class='col-sm-5'>
              <%= t("mission.already_cashed") %>
            </div>
            <div class='col-sm-7'>
              <strong ><%= number_to_currency @mission.paid_amount %></strong>
            </div>
          </div>

          <div class="frameMe">
            <i class="fa fa-calendar-o" aria-hidden="true"></i>
            <%= t("mission.whished_start_date") %> :
            <strong>
              <%= (@mission.whished_start_date).strftime("%d ") %>
              <%= t (@mission.whished_start_date.strftime("%B")) %>
              <%= (@mission.whished_start_date).strftime(" %Y") %>
            </strong>
            <hr>
            <i>
              <strong>
                <%= t("Mission") %>
              </strong>
              :
              <%= @mission.criteria %></i>
          </div>
        </div>
      </div>
    </div>
    <div class="mission bottom-line">
      <%= render 'shared/date_block' %>
    </div>
  </div>
</div>
