<% provide(:title, @mission.name) %>

<h1>
    <%= link_to edit_mission_path do %>
    <%= @mission.name %>
    <% end %>
</h1>
<div class="row">
    <div class="col-xs-4">
        <% if @mission.signed %>
        <h3>Mission signée :
            <strong>
                <i class="fa fa-handshake-o" aria-hidden="true"></i>
            </strong>
        </h3>
        <% end %></div>
    <div class="col-xs-4">
        <% if @mission.is_done %>
        <h3>Mission terminée :
            <strong>
                <i class="fa fa-gavel" aria-hidden="true"></i>
            </strong>
        </h3>
        <% end %>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-6">Rémunération JuinJuillet</div>
            <div class="col-xs-5">
                <strong><%= number_to_currency @mission.reward %></strong>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-5">Déjà encaissé
            </div>
            <div class="col-xs-5"><strong><%= number_to_currency @mission.paid_amount %></strong></div>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <hr>
  </div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-2">
                <i class="fa fa-building-o fa-2x" aria-hidden="true"></i>
                <br>
                <br>
                <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
            </div>
            <div class="col-xs-9">
                <p><strong><%= @mission.company.company_name %></strong></p>
<br>
                <p><strong><%= @mission.person.full_name %></strong></p>
            </div>
        </div>
    </div>
    <div class="col-xs-5 frameMe">
        <i class="fa fa-search" aria-hidden="true"></i> Date de début souhaitée :
        <strong><%= (@mission.whished_start_date).strftime("%d %B %y") %></strong>
        <hr>
        <i><%= @mission.criteria %></i>
    </div>
</div>

<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-6">Salaire minimum</div>
            <div class="col-xs-5">
                <strong><%= number_to_currency @mission.min_salary %></strong>
            </div>
        </div>
    </div>
    <div class="col-xs-5"></div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-6">Salaire maximum</div>
            <div class="col-xs-5">
                <strong><%= number_to_currency @mission.max_salary %></strong>
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-5">Mission enregistrée il y a
            </div>
            <div class="col-xs-5"><%= time_ago_in_words @mission.created_at %></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-4 col-xs-offset-2">
        <div class="row">
            <div class="col-xs-6">Age maximal</div>
            <div class="col-xs-5">
              <%= @mission.max_age %> ans
            </div>
        </div>
    </div>
    <div class="col-xs-5">
        <div class="row">
            <div class="col-xs-5">Age minimal
            </div>
            <div class="col-xs-5">
              <%= @mission.min_age %> ans
            </div>
        </div>
    </div>
</div>
