<% provide(:title, @mission.name) %>
<% provide(:update_date, @mission.updated_at) %>
<% provide(:creation_date, @mission.created_at) %>
<div class='row'>
    <div class="col-xs-1 nav-ico">
        <div class='row'>
            <div class="col-xs-12 nav-ico">
                <%= link_to edit_mission_path do %>
                <button class="btn btn-info">
                    <%= fa_icon('pencil ') %>
                </button>
                <% end %>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12 nav-ico">
                <%= link_to missions_path do %>
                <button class="btn btn-info">
                    <%= fa_icon('list ') %>
                </button>
                <% end %>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12  nav-ico">
                <%= link_to  @mission, method: :delete, data: { confirm: "C'est sûr ?" } do %>
                <button class="btn btn-primary">
                    <%= fa_icon('trash ') %>
                </button>
                <% end %>
            </div>
        </div>
    </div>
    <div class="col-xs-11">
        <div class='row'>
            <div class='col-xs-8'>
                <h1> <%= @mission.name %> </h1>
                <h3> <%= special_label @mission %></h3>
            </div>
            <div class='col-xs-4'>
              <div class= 'row emptyline'></div>
              <div class= 'row emptyline'></div>
                <div class='row'>
                    <div class='col-xs-7'>Rémunération JuinJuillet</div>
                    <div class='col-xs-5'>
                        <strong class="pull-right"><%= number_to_currency @mission.reward %></strong>
                    </div>
                </div>
                <div class= 'row emptyline'></div>
                <div class='row'>
                    <div class='col-xs-7'>Déjà encaissé
                    </div>
                    <div class='col-xs-5'>
                        <strong class="pull-right"><%= number_to_currency @mission.paid_amount %></strong>
                    </div>
                </div>
            </div>
        </div>
        <div class='row'>
            <div class="col-xs-12 ">
                <hr>
            </div>
        </div>
        <div class='row'>
            <div class='col-xs-5'>
                <div class='row'>
                    <div class='col-xs-2'>
                        <i class="fa fa-building-o fa-2x" aria-hidden="true"></i>
                        <br>
                        <br>
                        <i class="fa fa-user-circle-o fa-2x" aria-hidden="true"></i>
                    </div>
                    <div class='col-xs-9'>
                        <p>
                            <strong><%= @mission.company.company_name %></strong>
                        </p>
                        <br>
                        <p>
                            <strong><%= @mission.person.full_name %></strong>
                        </p>
                    </div>
                </div>
                <div class= 'row emptyline'></div>
                <div class='row'>
                    <div class="col-xs-12"><hr class="sep"></div>
                </div>
                <div class='row'>
                    <div class='col-xs-6'>Salaire minimum</div>
                    <div class='col-xs-6'>
                        <strong><%= number_to_currency @mission.min_salary %></strong>
                    </div>
                </div>
                <div class='row'>
                    <div class='col-xs-6'>Salaire maximum</div>
                    <div class='col-xs-6'>
                        <strong><%= number_to_currency @mission.max_salary %></strong>
                    </div>
                </div>
                <div class='row'>
                    <div class="col-xs-12"><hr class="sep"></div>
                </div>
                <div class='row'>
                    <div class='col-xs-6'>Tranche d'âge</div>
                    <div class='col-xs-6'>
                        Entre
                        <%= @mission.min_age %>
                        et
                        <%= @mission.max_age %>
                        ans
                    </div>
                </div>
            </div>
            <div class="col-xs-7 frameMe">
                <i class="fa fa-search" aria-hidden="true"></i>
                Date de début souhaitée :
                <strong>
                    <%= (@mission.whished_start_date).strftime("%d ") %>
                    <%= t (@mission.whished_start_date.strftime("%B")) %>
                    <%= (@mission.whished_start_date).strftime(" %Y") %>
                </strong>
                <hr>
                <i>
                    <strong>Mission</strong>
                    :
                    <%= @mission.criteria %></i>
            </div>
        </div>
    </div>
</div>
<%= render 'shared/date_block' %>
