<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapse_me" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to t("brand"), root_path, id: "logo" %>
    </div>
    <nav id="collapse_me">
      <ul class="nav navbar-nav navbar-right">
        <% if logged_in? %>
        <li>
          <%= render 'layouts/search_form' %>
        </li>
        <!-- <li>
          <= link_to  "#" do >
            <=t('hh.add_time_title') >
          < end >
        </li> -->
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=t('hh.rdv') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to new_comaction_path  do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%=t('comaction.create') %>
              <% end %>
            </li>
            <li><%= link_to  comactions_path(v: 'calendar_view') do %>
              <%= fa_icon("calendar-o") %>
              <%=t('comaction.calendar') %>
              <% end %>
            </li>
            <li><%= link_to  comactions_path(v: 'table_view')  do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              <%=t('comaction.menu.title_list') %>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=t('Mission') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li><%= link_to new_mission_path  do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%=t('mission.create') %>
              <% end %>
            </li>
            <li><%= link_to  missions_path do %>
              <span class="glyphicon glyphicon-list-alt"></span>
              <%=t('mission.list') %>
              <% end %>
            </li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <%=t('hh.people_and_companies') %>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <li>
              <%= link_to  new_person_path do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%=t('person.create') %>
              <% end %>
            </li>
            <li>
              <%= link_to  people_path do %>
              <%= fa_icon('address-book') %>
              <%=t('person.list') %>
              <% end %>
            </li>
            <li role="separator" class="divider"></li>
            <li><%= link_to new_company_path  do %>
              <span class="glyphicon glyphicon-plus"></span>
              <%=t('company.add') %>
              <% end %>
            </li>
            <li><%= link_to  companies_path do %>
              <%= fa_icon('building-o') %>
              <%=t('company.list') %>
              <% end %>
            </li>
          </ul>
        </li>
        <li></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <span class="glyphicon glyphicon-user"></span>
            <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% if policy(current_user).create? %>
              <li>
                <%= link_to  signup_path do %>
                <%= fa_icon("plus-circle", text:t('hh.account_create')) %>
                <% end %>
              </li>
              <li class="divider"></li>
            <% end %>
            <li>
              <%= link_to  edit_user_path(current_user) do %>
              <%= fa_icon("user", text:t('hh.parameters')) %>
              <% end %>
            </li>
            <li>
              <%= link_to  users_path do  %>
              <i class="fa fa-users" aria-hidden="true"></i>
              HH's
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to  "#" do %>
              <%= fa_icon("dashboard", text:t('hh.dashboard_title')) %>
              <% end %>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to  logout_path, method: "delete" do %>
              <%= fa_icon("sign-out", text:t('hh.disconnect')) %>
              <% end %>
            </li>
          </ul>
        </li>
      <% else %>
        <li><%= link_to t('help'), help_path %></li>
      <% end %>
      </ul>
    </nav>
  </div>
</header>
